{% extends 'adminindex.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Category</h4>
        <form class="forms-sample" method="post" action="{% url 'savecategory' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="categoryName">Name</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter Category Name" name="category_name" required>
            </div>
            <div class="form-group">
                <label for="categoryDescription">Description</label>
                <textarea class="form-control" id="categoryDescription" rows="4" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="statusSelect">Status</label>
                <select class="form-control" id="statusSelect" name="status" required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <label for="categoryImage">Upload Image</label>
                <input type="file" class="form-control-file" id="categoryImage" name="category_image">
            </div>
            <button type="submit" class="btn btn-primary mr-2">Add Category</button>
            <a href="{% url 'category_display' %}" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
