{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Ice Stock</h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form class="forms-sample" method="post" action="{% url 'save_icestock' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="ice_type" class="form-label">Ice Type (Product)</label>
                <select class="form-select" name="ice_type" required>
                    <option value="">Select a Product</option>
                    {% for product in products %}
                    <option value="{{ product.id }}">{{ product.product_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity (kg)</label>
                <input type="number" step="0.01" class="form-control" id="quantity" placeholder="Enter Quantity in kg" name="quantity_kg" required>
            </div>
            <div class="form-group">
                <label for="reorderPoint">Reorder Point (kg)</label>
                <input type="number" step="0.01" class="form-control" id="reorderPoint" placeholder="Enter Reorder Point" name="reorder_point" required>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Add Ice Stock</button>
            <a href="{% url 'icestock_display' %}" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
